<div class="container">
    <h2>Update Lead Status</h2>
    <br>
    <label for="leadsId">Leads ID:</label>
    <input type="number" id="leadsId" name="leadsId" [(ngModel)]="leadsId" required>
    <div class="icon-box blue" (click)="getLeadTrackingsByContactId()">
    <mat-icon>how_to_reg</mat-icon> <!-- Right arrow icon -->
    </div>
    <ul *ngIf="leadTrackings">
    <li *ngFor="let leadTracking of leadTrackings">
              {{ leadTracking.name }} - {{ leadTracking.email }} - {{ leadTracking.status }} - {{ leadTracking.category }}
    </li>
    </ul>
    <br>
    <label for="newStatus">New Status:</label>
    <select id="newStatus" name="newStatus" [(ngModel)]="newStatus" required>
    <option value="qualified">qualified</option>
    <option value="unqualified">unqualified</option>
    <option value="contacted">contacted</option>
    <option value="nurtured">nurtured</option>
    </select>
    <br><br>
    <button (click)="updateLeadTrackingStatus()">Update Status</button>
    </div>
    <div class="container1">

        <h3>Get All Lead Trackings</h3>
        <div class="form-group">
            <h4 for="userId">Enter User ID:</h4>
            <input type="text" class="form-control" id="userId" [(ngModel)]="userId" name="userId">
            <h4 for="category">Enter Category:</h4>
            <select class="form-control" id="category" [(ngModel)]="category" name="category">
                <option value="">Select Category</option>
                <option value="Textile">Textile</option>
                <option value="Retail">Retail</option>
                <option value="Software">Software</option>
                <option value="Pharmaceutical">Pharmaceutical</option>
                <option value="Automobile">Automobile</option>
                <option value="Construction">Construction</option>
                <option value="Electronics">Electronics</option>
                <option value="Healthcare">Healthcare</option>
                <option value="Food and Beverage">Food and Beverage</option>
                <option value="Finance">Finance</option>
            </select>
            <button class="btn btn-primary" (click)="getAllLeadTrackingsByUserIdAndCategory(userId, category)">Fetch Leads</button>
        </div>
        
        
        <table *ngIf="allLeadTrackings.length > 0">
        <thead>
        <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Country</th>
        <th>Category</th>
        <th>Status</th>
        <th>Sales Representative</th>
        <th>Leads ID</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let leadTracking of allLeadTrackings">
        <td>{{ leadTracking.name }}</td>
        <td>{{ leadTracking.email }}</td>
        <td>{{ leadTracking.phoneNumber }}</td>
        <td>{{ leadTracking.country }}</td>
        <td>{{ leadTracking.category }}</td>
        <td>{{ leadTracking.status }}</td>
        <td>{{ leadTracking.salesRepresentativeName }}</td>
        <td>{{ leadTracking.contact.id }}</td>
        </tr>
        </tbody>
        </table>
        <p *ngIf="allLeadTrackings.length === 0">No lead trackings available.</p>
        </div>
