
<div class="customer">
  <div class="search-container">
    <input class="form-control-sm me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-success" type="submit">Search</button>
</div>
<br><br>
    <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card" style="background-color:#EAEAEA">
        <div class="card-body">
          <h5 class="card-title">ADD Contact</h5>
          <p class="card-text">add your contact here!</p>
          <a href="/addupdate" class="btn btn-primary" style="background-color: rgb(95, 5, 205);">ADD</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style="background-color: #FFDAC1;">
        <div class="card-body">
          <h5 class="card-title">Update Contact</h5>
          <p class="card-text">update your contact here!</p>
          <a href="/updatecontact" class="btn btn-primary"style="background-color: rgb(95, 5, 205);" >UPDATE</a>
        </div>
      </div>
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card" style="background-color: #C7DBDA;">
        <div class="card-body">
          <h5 class="card-title">Contact Segmentation</h5>
          <p class="card-text">Check your segmented contacts here!</p>
          <a href="/customersegmentation" class="btn btn-primary" style="background-color: rgb(95, 5, 205);">Segmented contacts</a>
        </div>
      </div>
    </div>
     <div class="col-sm-6">
      <div class="card" style="background-color: rgb(157, 206, 206);">
        <div class="card-body">
          <h5 class="card-title">Lead Tracking</h5>
          <p class="card-text">Track your leads hear!</p>
          <a href="/leadtracking" class="btn btn-primary"style="background-color: rgb(95, 5, 205);" >Lead Tracking</a>
        </div>
      </div>
    </div>
    
    
</div>