<div class="container">
  <h2>Create Opportunity</h2>
  <form [formGroup]="fm" (ngSubmit)="createOpportunity()">
    <div class="form-group">
      <label for="category">Account Type</label>
      <div class="input-group">
        <select formControlName="category" class="form-control" id="category">
          <!-- options here -->
          <option value="Textile">Textile</option>
          <option value="Retail">Retail</option>
          <option value="Software">Software</option>
          <option value="Pharmaceutical">Pharmaceutical</option>
          <option value="Automobile">Automobile</option>
          <option value="Construction">Construction</option>
          <option value="Electronics">Electronics</option>
          <option value="Food & Beverage">Food & Beverage</option>
          <option value="Finance">Finance</option>
        </select>
        <div class="icon-box green" (click)="toggleOpportunityDetails()">
          <mat-icon>card_giftcard</mat-icon>
          </div>
       
        <div class="icon-box red" (click)="getQualifiedListByCategory()">
          <mat-icon>person</mat-icon>
          </div>
      </div>
 
      <!-- Display fetched opportunities when the button is clicked -->
      <div *ngIf="showOpportunities">
        <h3>Opportunities:</h3>
        <ul>
          <li *ngFor="let opportunity of opportunities">
           
           
            <strong></strong> {{ opportunity.opportunityName }} <br>
          </li>
        </ul>
      </div>
 
 <div *ngIf="showQualifiedLeads">
      <h3>Qualified Leads:</h3>
      <ul>
        <li *ngFor="let lead of qualifiedLeads">
          <strong>Name:</strong> {{ lead.leads }} <br>
          <!-- Add other lead details as needed -->
        </li>
      </ul>
    </div>
    </div>
    <div class="form-group">
      <label for="accountName">Account Name</label>
      <input type="text" formControlName="accountName" class="form-control" id="accountName" placeholder="Enter Account Name">
    </div>
 
    <div class="form-group">
      <label for="opportunityName">Opportunity Name</label>
      <input type="text" formControlName="opportunityName" class="form-control" id="opportunityName" placeholder="Enter Opportunity Name">
    </div>
    <div class="form-group">
      <label for="probability">Probability (%) </label>
      <input type="number" formControlName="probability" class="form-control" id="probability" placeholder="Enter Probability" min="0">
    </div>
    <div class="form-group">
      <label for="stage">Stage</label>
      <select formControlName="stage" class="form-control" id="stage">
        <option value="Need Analysis">Need Analysis</option>
        <option value="Proposal">Proposal</option>
        <option value="Closed Won">Closed Won</option>
        <option value="Closed Lost">Closed Lost</option>
      </select>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea formControlName="description" class="form-control" id="description" rows="3" placeholder="Enter Description"></textarea>
    </div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <input type="number" formControlName="amount" class="form-control" id="amount" placeholder="Enter Amount" min="0">
    </div>
    <div class="form-group">
      <label for="closedDate">Closed Date</label>
      <input type="date" formControlName="closedDate" class="form-control" id="closedDate">
    </div>
 
 
 
    <div class="form-group">
      <label for="forecastCategory">Forecast Category</label>
      <select formControlName="forecastCategory" class="form-control" id="forecastCategory">
        <option value="Omitted">Omitted</option>
        <option value="Pipeline">Pipeline</option>
        <option value="Commit">Commit</option>
        <option value="Closed">Closed</option>
      </select>
    </div>
 
    <button type="submit" class="btn btn-primary">Submit</button>
 
 
  </form>
</div>